#pip install -r requirements.txt

# Core Framework
streamlit
python-dotenv

# LangChain & LangGraph
langchain-google-genai
langchain-community
langgraph
langchain-core
langgraph-checkpoint-sqlite
langchain-text-splitters

# Vector Database
chromadb

# PDF Processing 
pymupdf
pypdf

# Web Scraping
bs4
requests
